.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .h-100 {
    height: 100%;
  }
  
  .carousel-inner .carousel-item > .container {
    height: 100%;
  }
  
  .carousel-inner .carousel-item > .container .card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-inner .carousel-item > .container .card .card-img-top {
    width: 100%;
    height: auto;
  }
  .services-page {
    text-align: center;
    padding: 50px 0;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .service-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  /* Definir los estilos del navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Definir los estilos del carrusel */
.carousel {
  margin-top: 20px;
}

.carousel-item {
  height: auto;
  width:100%;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
}

/* Definir los estilos del contenido principal */
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel .slide img {
  max-height: 300px; /* O el valor que desees para la altura máxima */
  width: auto; /* Ajusta automáticamente el ancho */
}